<p id="notice"><%= notice %></p>

<div class="user-form-box">
  <h2>新規登録</h2>

  <div class="user-form-wrapper">
    <%= form_for(user) do |f| %>
      <% if user.errors.any? %>
        <div class="error-box">
          <ul class="error-messages">
            <% user.errors.messages.each do |column, messages| %>
              <% messages.each do |message| %>
                <li>・<%= message %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, 'ユーザー名' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.text_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'パスワード' %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit 'アカウントを作成', class: "btn btn-default btn-block" %>
      </div>
    <% end %>
  </div>
</div>
