<% provide(:login_nav, "selected-nav") %>

<div class="user-form-box">
  <h2>ログイン</h2>

  <div class="user-form-wrapper">
    <%= form_tag login_path do %>
      <% if flash[:danger] %>
        <div class="error-box">
          <ul class="error-messages">
            <li><%= flash[:danger] %></li>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= label_tag :email, 'メールアドレス' %>
        <%= text_field_tag :email, params[:email], class: "form-control" %>
      </div>

      <div class="form-group">
        <%= label_tag :password, 'パスワード' %>
        <%= password_field_tag :password, '', class: "form-control" %>
      </div>

      <div class="actions">
        <%= submit_tag 'ログイン', class: "btn btn-default btn-block" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to '新規登録はこちら', signup_path, class: "btn btn-default btn-block btn-change-form" %>
