<% provide(:mypage_nav, "selected-nav") %>

<div class="wrapper">

  <div class="option-bar">
    <h4 class="option-title">オプション</h4><hr class="option-horizon">

    <%= form_tag mypage_option_path, remote: true do %>
      <h5 class="option-type">- 条件 -</h5>

      <label class="radio-inline option-checkbox-inline">
        <%= radio_button_tag :condition, 1, true, class: 'option-checkbox' %> 自分の投稿
      </label><br>
      <label class="radio-inline option-checkbox-inline">
        <%= radio_button_tag :condition, 2, false, class: 'option-checkbox' %> いいね！
      </label><hr class="option-horizon">

      <h5 class="option-type">- タグ -</h5>

      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :scenery, true, params[:scenery], class: 'option-checkbox' %> 風景
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :building, true, params[:building], class: 'option-checkbox' %> 建物
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :nature, true, params[:nature], class: 'option-checkbox' %> 自然
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :food, true, params[:food], class: 'option-checkbox' %> 飲食
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :amusement, true, params[:amusement], class: 'option-checkbox' %> 娯楽
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :others, true, params[:others], class: 'option-checkbox' %> その他
      </label><hr class="option-horizon">

      <div class="option-btn-container">
        <%= submit_tag '絞り込む', class: 'btn btn-sm btn-default option-btn', id: 'option-btn' %>
      </div>
    <% end %>
  </div>

  <div class="main-content">
    <h1><%= current_user.name %>さんの投稿</h1>

    <div class="row" id="my-locations">
      <%= render 'users/my_locations', locations: @locations %>
    </div>
  </div>

</div>
