<% provide(:root_nav, "selected-nav") %>
<% provide(:show_cog, "true") %>

<div class="wrapper">

  <div class="option-bar" id="option-bar">
    <h4 class="option-title">オプション</h4><hr class="option-horizon">

    <%= form_tag option_path, remote: true do %>
      <h5 class="option-type">- 条件 -</h5>

      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :myself, true, params[:myself], class: 'option-checkbox' %> 自分の投稿
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :like, true, params[:like], class: 'option-checkbox' %> いいね！
      </label><hr class="option-horizon">

      <h5 class="option-type">- タグ -</h5>

      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :scenery, true, params[:scenery], class: 'option-checkbox' %> 風景
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :building, true, params[:building], class: 'option-checkbox' %> 建物
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :nature, true, params[:nature], class: 'option-checkbox' %> 自然
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :food, true, params[:food], class: 'option-checkbox' %> 飲食
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :amusement, true, params[:amusement], class: 'option-checkbox' %> 娯楽
      </label><br>
      <label class="checkbox-inline option-checkbox-inline">
        <%= check_box_tag :others, true, params[:others], class: 'option-checkbox' %> その他
      </label><hr class="option-horizon">

      <div class="option-btn-container">
        <%= submit_tag '絞り込む', class: 'btn btn-sm btn-default', id: 'option-btn' %>
      </div>
    <% end %>
  </div>


  <div id="map" class="map-top main-content"></div>

</div>


<script>
  var latLng = new google.maps.LatLng(35.66, 139.69);
  var options = {
    zoom: 10,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false,
    styles: [
      {featureType: 'landscape', elementType: 'geometry.fill', stylers: [{color: '#f9f7f4'}]},
      {featureType: 'landscape', elementType: 'geometry.stroke', stylers: [{color: '#8d9786'}]},
      {featureType: 'road.highway', elementType: 'geometry.fill', stylers: [{weight: '0.70'}]},
      {featureType: 'transit.line', elementType: 'geometry.fill', stylers: [{weight: '0.60'}]},
      {featureType: 'water', elementType: 'geometry.fill', stylers: [{color: '#b9eeff'}]}
    ]
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    }, function() {
      alert('現在地を取得できません！');
    });
  } else {
    alert('対応していません！');
  }

  var markerArray = [];
  var infoWindow;
  <% @locations.each_with_index do |location, i| %>
    var image = {
      url: '<%= image_path location.image.url %>',
      size: new google.maps.Size(40, 40),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(20, 52),
      scaledSize: new google.maps.Size(40, 40)
    };

    var markerIcon = {
      url: '<%= image_path "maps/marker_icon.png" %>',
      size: new google.maps.Size(43.2, 54),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(21.6, 53),
      scaledSize: new google.maps.Size(43.2, 54)
    };

    var markerImage<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map,
      icon: image,
      optimized: false
    });

    var marker<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map,
      icon: markerIcon,
      optimized: false
    });

    markerArray.push(markerImage<%= i %>);
    markerArray.push(marker<%= i %>);

    google.maps.event.addListener(marker<%= i %>, 'click', function() {
      if (infoWindow != undefined) {
        infoWindow.close();
      }
      infoWindow = new google.maps.InfoWindow({
          content: '<%= image_tag location.image.url, class: 'window-img' %>' +
                   '<%= location.title %><br>' +
                   '<span id="like-link"><%= escape_javascript(render('likes/like_links', location: location)) %></span>' +
                   '<span id="like-count"><%= location.likes.count %></span>いいね！<br><%= link_to '詳細を見る', location_path(location.id) %>'
      });
      infoWindow.open(map, marker<%= i %>);
    });
  <% end %>

  var geocoder = new google.maps.Geocoder();
  var newMarker;
  google.maps.event.addListener(map, 'click', function(event) {
    if (newMarker != undefined) {
      newMarker.setMap(null);
    }
    newMarker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    geocoder.geocode({
      'latLng': event.latLng
    }, function(result, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var newInfoWindow = new google.maps.InfoWindow({
          content: result[0].formatted_address + '<br>' +
          '<a href="/locations/new?address=' + result[0].formatted_address + '&latitude=' + event.latLng.lat() + '&longitude=' + event.latLng.lng() + '">この場所の写真を投稿する</a>'
        });
        newInfoWindow.open(map, newMarker);
        google.maps.event.addListener(newInfoWindow, 'closeclick', function() {
          newMarker.setMap(null);
        });
      } else {
        newMarker.setMap(null);
        alert('選択した位置情報を取得できません');
      }
    });
  });

  $('#option-btn').click(function() {
    if (markerArray.length > 0) {
      markerArray.forEach(function(marker) {
        marker.setMap(null);
      });
    }
  });

</script>
