
<div class="row">
  <h1>Map</h1>

  <div class="col-sm-2 sort-locations">
    <h4>絞り込む</h4>

      <label class="checkbox-inline">
        <%= check_box_tag :myself, true, false %> 自分の投稿
      </label><br>
      <label class="checkbox-inline">
        <%= check_box_tag :like, true, false %> 行ってみたい
      </label><hr class="sort-horizon">
      <label class="checkbox-inline">
        <%= check_box_tag :scenery, true, false %> 風景
      </label><br>
      <label class="checkbox-inline">
        <%= check_box_tag :building, true, false %> 建物
      </label><br>
      <label class="checkbox-inline">
        <%= check_box_tag :nature, true, false %> 自然
      </label><br>
      <label class="checkbox-inline">
        <%= check_box_tag :food, true, false %> 飲食
      </label><br>
      <label class="checkbox-inline">
        <%= check_box_tag :amusement, true, false %> 娯楽
      </label><br>
      <label class="checkbox-inline">
        <%= check_box_tag :others, true, false %> その他
      </label>
  </div>

  <div class="col-sm-10">
    <div id="map" class="map-top"></div>
  </div>

</div>


<script>
  var latLng = new google.maps.LatLng(35.66, 139.69);
  var options = {
  zoom: 10,
  center: latLng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    }, function() {
      alert('現在地を取得できません！');
    });
  } else {
    alert('対応していません！');
  }

  <% @locations.each_with_index do |location, i| %>
    var marker<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map
    });

    google.maps.event.addListener(marker<%= i %>, 'click', function() {
      var infoWindow = new google.maps.InfoWindow({
        content: '<%= location.title %><br><%= link_to '詳細を見る', location_path(location.id) %>'
      });
      infoWindow.open(map, marker<%= i %>);
    });
  <% end %>

  var geocoder = new google.maps.Geocoder();
  var newMarker;
  google.maps.event.addListener(map, 'click', function(event) {
    if (newMarker != undefined) {
      newMarker.setMap(null);
    }
    newMarker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    geocoder.geocode({
      'latLng': event.latLng
    }, function(result, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var infoWindow = new google.maps.InfoWindow({
          content: result[0].formatted_address + '<br><a href="/locations/new?address=' + result[0].formatted_address + '&latitude=' + event.latLng.lat() + '&longitude=' + event.latLng.lng() + '">この場所のオブジェクトを作成する</a>'
        });
        infoWindow.open(map, newMarker);
        google.maps.event.addListener(infoWindow, 'closeclick', function() {
          newMarker.setMap(null);
        });
      } else {
        newMarker.setMap(null);
        alert('選択した位置情報を取得できません');
      }
    });
  });

</script>
