<div class="row">
  <h1>Map</h1>

  <div class="col-sm-2">
    <div class=" panel panel-default">
      <div class="panel-heading">オプション</div>

      <div class="panel-body">
        <%= form_tag option_path, remote: true do %>
          <label class="checkbox-inline">
            <%= check_box_tag :myself, true, params[:myself] %> 自分の投稿
          </label><br>
          <label class="checkbox-inline">
            <%= check_box_tag :like, true, params[:like] %> いいね
          </label><hr class="sort-horizon">
          <label class="checkbox-inline">
            <%= check_box_tag :scenery, true, params[:scenery] %> 風景
          </label><br>
          <label class="checkbox-inline">
            <%= check_box_tag :building, true, params[:building] %> 建物
          </label><br>
          <label class="checkbox-inline">
            <%= check_box_tag :nature, true, params[:nature] %> 自然
          </label><br>
          <label class="checkbox-inline">
            <%= check_box_tag :food, true, params[:food] %> 飲食
          </label><br>
          <label class="checkbox-inline">
            <%= check_box_tag :amusement, true, params[:amusement] %> 娯楽
          </label><br>
          <label class="checkbox-inline">
            <%= check_box_tag :others, true, params[:others] %> その他
          </label><hr class="sort-horizon">
          <div class="sort-btn-container">
            <%= submit_tag '絞り込む', class: 'btn btn-sm btn-default', id: 'option-btn' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-10">
    <div id="map" class="map-top"></div>
  </div>
</div>


<script>
  var latLng = new google.maps.LatLng(35.66, 139.69);
  var options = {
  zoom: 10,
  center: latLng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    }, function() {
      alert('現在地を取得できません！');
    });
  } else {
    alert('対応していません！');
  }

  var markerArray = [];
  var infoWindow;
  <% @locations.each_with_index do |location, i| %>
    var marker<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map
    });
    markerArray.push(marker<%= i %>);

    google.maps.event.addListener(marker<%= i %>, 'click', function() {
      if (infoWindow != undefined) {
        infoWindow.close();
      }
      infoWindow = new google.maps.InfoWindow({
          content: '<%= location.title %><br><%= link_to '詳細を見る', location_path(location.id) %> <span id="like-link"><%= escape_javascript(render('likes/like_links', location: location)) %></span>'
      });
      infoWindow.open(map, marker<%= i %>);
    });
  <% end %>

  var geocoder = new google.maps.Geocoder();
  var newMarker;
  google.maps.event.addListener(map, 'click', function(event) {
    if (newMarker != undefined) {
      newMarker.setMap(null);
    }
    newMarker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    geocoder.geocode({
      'latLng': event.latLng
    }, function(result, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var newInfoWindow = new google.maps.InfoWindow({
          content: result[0].formatted_address + '<br><a href="/locations/new?address=' + result[0].formatted_address + '&latitude=' + event.latLng.lat() + '&longitude=' + event.latLng.lng() + '">この場所のオブジェクトを作成する</a>'
        });
        newInfoWindow.open(map, newMarker);
        google.maps.event.addListener(newInfoWindow, 'closeclick', function() {
          newMarker.setMap(null);
        });
      } else {
        newMarker.setMap(null);
        alert('選択した位置情報を取得できません');
      }
    });
  });

  $('#option-btn').click(function() {
    if (markerArray.length > 0) {
      markerArray.forEach(function(marker) {
        marker.setMap(null);
      });
    }
  });

</script>
