<h1>Map</h1>
<div id="map"></div>

<script>
  var latLng = new google.maps.LatLng(35.66, 139.69);
  var options = {
  zoom: 15,
  center: latLng,
  mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    }, function() {
      alert('現在地を取得できません！');
    });
  } else {
    alert('対応していません！');
  }

  <% @locations.each_with_index do |location, i| %>
    var marker<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map
    });

    google.maps.event.addListener(marker<%= i %>, 'click', function() {
      var infoWindow = new google.maps.InfoWindow({
        content: '<%= location.title %><br><%= link_to '詳細を見る', location_path(location.id) %>'
      });
      infoWindow.open(map, marker<%= i %>);
    });
  <% end %>

  

</script>
