<% provide(:root_nav, "selected-nav") %>
<% provide(:show_option_bar, "true") %>

<div id="map" class="map-top main-content"></div>

<script>
  var latLng = new google.maps.LatLng(35.6811, 139.767);
  var options = {
    zoom: 10,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false,
    styles: [
      {featureType: 'landscape', elementType: 'geometry.fill', stylers: [{color: '#f9f7f4'}]},
      {featureType: 'landscape', elementType: 'geometry.stroke', stylers: [{color: '#8d9786'}]},
      {featureType: 'road.highway', elementType: 'geometry.fill', stylers: [{weight: '0.70'}]},
      {featureType: 'transit.line', elementType: 'geometry.fill', stylers: [{weight: '0.60'}]},
      {featureType: 'water', elementType: 'geometry.fill', stylers: [{color: '#b9eeff'}]}
    ]
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  initInfoWindow();

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      map.setCenter(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
    });
  }

  var markerArray = [];
  var infoWindow;
  <% @locations.each_with_index do |location, i| %>
    var image = {
      url: '<%= image_path location.image.url %>',
      size: new google.maps.Size(46, 46),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(23, 63),
      scaledSize: new google.maps.Size(46, 46)
    };

    var markerIcon = {
      url: '<%= image_path "maps/marker_icon.png" %>',
      size: new google.maps.Size(52, 65),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(26, 65),
      scaledSize: new google.maps.Size(52, 65)
    };

    var markerImage<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map,
      icon: image,
      optimized: false
    });

    var marker<%= i %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
      map: map,
      icon: markerIcon,
      optimized: false
    });

    markerArray.push(markerImage<%= i %>);
    markerArray.push(marker<%= i %>);

    google.maps.event.addListener(marker<%= i %>, 'click', function() {
      if (infoWindow != undefined) {
        infoWindow.close();
      }

      if (newMarker != undefined) {
        newMarker.setMap(null);
      }

      infoWindow = new google.maps.InfoWindow({
          content: '<span class="window-title"><%= location.title %></span>' +
                   '<div class="window-wrapper">' +
                     '<%= image_tag location.image.url, class: 'window-img' %>' +
                     '<div class="window-parts-wrapper">' +
                       '<span id="like-link"><%= escape_javascript(render('likes/like_links', location: location)) %></span>' +
                       '<span id="like-count"><%= location.likes.count %></span>' +
                       '<%= link_to '詳細', location_path(location.id), class: "window-link btn btn-default btn-xs" %>' +
                     '</div>' +
                   '</div>'
      });

      infoWindow.open(map, marker<%= i %>);
      styleInfoWindow();
    });
  <% end %>

  var geocoder = new google.maps.Geocoder();
  var newMarker;
  google.maps.event.addListener(map, 'click', function(event) {
    if (newMarker != undefined) {
      newMarker.setMap(null);
    }
    newMarker = new google.maps.Marker({
      position: event.latLng,
      map: map
    });
    geocoder.geocode({
      'latLng': event.latLng
    }, function(result, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (infoWindow != undefined) {
          infoWindow.close();
        }

        infoWindow = new google.maps.InfoWindow({
          content: '<a href="/locations/new?address=' + result[0].formatted_address + '&latitude=' + event.latLng.lat() + '&longitude=' + event.latLng.lng() + '" class="new-marker-link">ここに投稿する</a>'
        });
        infoWindow.open(map, newMarker);
        google.maps.event.addListener(infoWindow, 'closeclick', function() {
          newMarker.setMap(null);
        });
      } else {
        newMarker.setMap(null);
        alert('選択した位置情報を取得できません');
      }
      styleInfoWindow();
      styleNewInfoWindow();
    });
  });

  $('#option-btn').click(function() {
    if (markerArray.length > 0) {
      markerArray.forEach(function(marker) {
        marker.setMap(null);
      });
    }
  });

  function initInfoWindow() {
    var initInfoWindow = new google.maps.InfoWindow({
        content: '',
        position: latLng
    });
    initInfoWindow.open(map);
    styleInfoWindow();
    initInfoWindow.close();
  }

  function styleInfoWindow() {
    var iwOuter = $('.gm-style-iw');
    var iwBackground = iwOuter.prev();
    var iwCloseBtn = iwOuter.next();
    iwBackground.children(':nth-child(2)').css("display", "none"); // 背景のshadowを消す
    iwBackground.children(':nth-child(4)').css("display", "none"); // 白い背景を消す
    iwCloseBtn.addClass("closebtn");
    iwCloseBtn.prepend('<i class="fa fa-times-circle" aria-hidden="true"></i>');
  }

  function styleNewInfoWindow() {
    $('.gm-style-iw').addClass('new-iw');
    $('.gm-style-iw').next().addClass("new-closebtn")
  }
</script>
