<% @locations.each_with_index do |location, i| %>
  var image = {
    url: '<%= image_path location.image.url %>',
    size: new google.maps.Size(40, 40),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(20, 52),
    scaledSize: new google.maps.Size(40, 40)
  };

  var markerIcon = {
    url: '<%= image_path "maps/marker_icon.png" %>',
    size: new google.maps.Size(43.2, 54),
    origin: new google.maps.Point(0, 0),
    anchor: new google.maps.Point(21.6, 53),
    scaledSize: new google.maps.Size(43.2, 54)
  };

  var markerImage<%= i %> = new google.maps.Marker({
    position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
    map: map,
    icon: image,
    optimized: false
  });

  var marker<%= i %> = new google.maps.Marker({
    position: new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>),
    map: map,
    icon: markerIcon,
    optimized: false
  });

  markerArray.push(markerImage<%= i %>);
  markerArray.push(marker<%= i %>);

  google.maps.event.addListener(marker<%= i %>, 'click', function() {
    if (infoWindow != undefined) {
      infoWindow.close();
    }

    if (newMarker != undefined) {
      newMarker.setMap(null);
    }

    infoWindow = new google.maps.InfoWindow({
        content: '<span class="window-title"><%= location.title %></span>' +
                 '<div class="window-wrapper">' +
                   '<%= image_tag location.image.url, class: 'window-img' %>' +
                   '<div class="window-parts-wrapper">' +
                     '<span id="like-link"><%= escape_javascript(render('likes/like_links', location: location)) %></span>' +
                     '<span id="like-count"><%= location.likes.count %></span>' +
                     '<%= link_to '詳細', location_path(location.id), class: "window-link btn btn-default btn-xs" %>' +
                   '</div>' +
                 '</div>'
    });

    infoWindow.open(map, marker<%= i %>);
    styleInfoWindow();
  });
<% end %>
