<% if location.errors.any? %>
  <div class="error-box">
    <ul class="error-messages">
      <% location.errors.messages.values.flatten.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :title, 'タイトル' %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :image, '画像' %>
  <%= f.file_field :image %>
</div>

<div class="form-group">
  <%= f.label :comment, 'コメント' %>
  <%= f.text_area :comment, class: "form-control", rows: "4" %>
</div>

<div class="form-group">
  <label>タグ</label><br>

  <% Tag.all.each do |tag| %>
    <label class="checkbox-inline">
      <%= check_box_tag "tag" + tag.id.to_s, true, location.tags.find_by(id: tag.id) %> <%= tag.name %>
    </label>
  <% end %>
</div>

<%= f.hidden_field :address %>
<%= f.hidden_field :latitude %>
<%= f.hidden_field :longitude %>
