<%= form_for(location) do |f| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, '画像' %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :comment, 'コメント' %>
    <%= f.text_area :comment, class: "form-control", rows: "4" %>
  </div>

  <div class="form-group">
    <label>タグ</label><br>
    <label class="checkbox-inline">
      <%= check_box_tag :scenery, true, false %> 風景
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag :building, true, false %> 建物
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag :nature, true, false %> 自然
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag :food, true, false %> 飲食
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag :amusement, true, false %> 娯楽
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag :others, true, false %> その他
    </label>
  </div>

  <%= f.hidden_field :address %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>

  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>
