<h1>Ranking</h1>

<div class="row">

  <% @locations.each_with_index do |location, i| %>
    <div class="col-sm-4 col-xs-6">
      <%= link_to location_path(location.id), class: 'ranking-box' do %>
        <div class="ranking-item">
          <div class="ranking-img-wrapper">
            <div style="background-image: url(<%= image_path location.image.url %>);" class="ranking-img"></div>
          </div>
          第<%= i + 1 %>位：<%= location.title %><br>
          <%= location.likes.count %>いいね！
        </div>
      <% end %>
    </div>
  <% end %>

</div>
