<div class="row">
  <div class="col-md-1"></div>

  <div class="col-md-6 col-sm-7">
    <div class="detail-box">

      <h2><%= @location.title %></h2>
      <div class="detail-wrapper">
        <p>
          <%= image_tag @location.image.url, class: 'detail-img' %>
        </p>

        <p class="detail-name">
          <%= @location.user.name %>さん
        </p>

        <p class="detail-comment">
          <%= @location.comment %>
        </p>

        <p class="detail-tags">
          <% @location.tags.each do |tag| %>
            <span class="detail-tag">#<%= tag.name %></span>
          <% end %>
        </p>

        <p>
          <span id="like-link"><%= render('likes/like_links', location: @location) %></span> <span id="like-count"><%= @location.likes.count %></span>人が「いいね！」しました
          <% if @location.user == current_user %>
            <span class="detail-edit-link"><%= link_to '編集', edit_location_path(@location), class: "btn btn-default btn-xs" %></span>
          <% end %>
        </p>

      </div>

    </div>
  </div>

  <div class="col-md-4 col-sm-5">
    <div class="simple-map-wrapper">
      <div id="map" class="simple-map"></div>
    </div>
  </div>

  <div class="col-md-1"></div>
</div>


<script>
  var latLng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
  var options = {
    zoom: 15,
    center: latLng,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    mapTypeControl: false
  }
  var map = new google.maps.Map(document.getElementById('map'), options);

  var marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
</script>
