<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @location.title %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @location.comment %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<p>
  <% if current_user.likes.find_by(location_id: @location.id) %>
    <%= link_to unlike_path(@location.id), method: :delete, remote: true, id: 'like-heart' do %><%= fa_icon 'heart' %><% end %><span id="like-count"><%= @location.likes.count %></span>行ってみたい
  <% else %>
    <%= link_to like_path(@location.id), method: :post, remote: true, id: 'like-heart' do %><%= fa_icon 'heart-o' %><% end %><span id="like-count"><%= @location.likes.count %></span>行ってみたい
  <% end %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
